# NASA DATA GATHERING USING API

This notebook fetches data from the nasa api:

* Displays the astronomy picture of the day
* Displays the asterodids near eartha and generates a CVS File to store the data

In [1]:
import requests
from dotenv import load_dotenv
import os
from IPython.display import Image
import pandas as pd

In [2]:
%load_ext dotenv
%dotenv

In [3]:
NASA_API = os.getenv('NASA_API_KEY')
RESOURCE = 'planetary/apod'
API_URL = f'https://api.nasa.gov/{RESOURCE}?api_key={NASA_API}'

In [4]:
def get_day_pic(url):
    response = requests.get(url)
    return response.json()

In [5]:
get_day_pic(API_URL)

{'copyright': 'Jonathan Eggleston',
 'date': '2024-10-12',
 'explanation': 'A gravel country lane gently winds through this colorful rural night skyscape. Captured from Monroe County in southern West Virginia on the evening of October 10, the starry sky above is a familiar sight. Shimmering curtains of aurora borealis or northern lights definitely do not make regular appearances here, though. Surprisingly vivid auroral displays were present on that night at very low latitudes around the globe, far from their usual northern and southern high latitude realms. The extensive auroral activity was evidence of a severe geomagnetic storm triggered by the impact of a coronal mass ejection (CME), an immense magnetized cloud of energetic plasma. The CME was launched toward Earth from the active Sun following a powerful X-class solar flare.   Growing Gallery: Global aurora during October 10/11, 2024',
 'hdurl': 'https://apod.nasa.gov/apod/image/2410/241010_eggleston.jpg',
 'media_type': 'image',
 'service_version': 'v1',
 'title': 'Northern Lights, West Virginia',
 'url': 'https://apod.nasa.gov/apod/image/2410/241010_eggleston_1024.jpg'}

In [7]:
image_of_the_day = get_day_pic(API_URL)['url']

In [8]:
Image(url=image_of_the_day)

In [12]:
RESOURCE = 'neo/rest/v1/neo/browse'

In [13]:
API_URL = f'https://api.nasa.gov/{RESOURCE}?api_key={NASA_API}&start_date=2015-09-07&end_date=2015-09-08'

In [19]:
results = get_day_pic(API_URL)

In [20]:
df = pd.DataFrame(results['near_earth_objects'])
df

,links,id,neo_reference_id,name,name_limited,designation,nasa_jpl_url,absolute_magnitude_h,estimated_diameter,is_potentially_hazardous_asteroid,close_approach_data,orbital_data,is_sentry_object
0,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2000433,2000433,433 Eros (A898 PA),Eros,433,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,10.41,{'kilometers': {'estimated_diameter_min': 22.0...,False,[],"{'orbit_id': '659', 'orbit_determination_date'...",False
1,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2000719,2000719,719 Albert (A911 TB),Albert,719,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,15.59,{'kilometers': {'estimated_diameter_min': 2.02...,False,[],"{'orbit_id': '266', 'orbit_determination_date'...",False
2,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2000887,2000887,887 Alinda (A918 AA),Alinda,887,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,13.84,{'kilometers': {'estimated_diameter_min': 4.53...,False,[],"{'orbit_id': '502', 'orbit_determination_date'...",False
3,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001036,2001036,1036 Ganymed (A924 UB),Ganymed,1036,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,9.20,{'kilometers': {'estimated_diameter_min': 38.4...,False,[],"{'orbit_id': '1263', 'orbit_determination_date...",False
4,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001221,2001221,1221 Amor (1932 EA1),Amor,1221,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,17.38,{'kilometers': {'estimated_diameter_min': 0.88...,False,[],"{'orbit_id': '122', 'orbit_determination_date'...",False
5,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001566,2001566,1566 Icarus (1949 MA),Icarus,1566,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,16.55,{'kilometers': {'estimated_diameter_min': 1.30...,True,[],"{'orbit_id': '182', 'orbit_determination_date'...",False
6,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001580,2001580,1580 Betulia (1950 KA),Betulia,1580,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,14.68,{'kilometers': {'estimated_diameter_min': 3.08...,False,[],"{'orbit_id': '308', 'orbit_determination_date'...",False
7,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001620,2001620,1620 Geographos (1951 RA),Geographos,1620,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,15.27,{'kilometers': {'estimated_diameter_min': 2.34...,True,[],"{'orbit_id': '764', 'orbit_determination_date'...",False
8,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001627,2001627,1627 Ivar (1929 SH),Ivar,1627,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,12.83,{'kilometers': {'estimated_diameter_min': 7.22...,False,[],"{'orbit_id': '1341', 'orbit_determination_date...",False
9,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001685,2001685,1685 Toro (1948 OA),Toro,1685,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,14.28,{'kilometers': {'estimated_diameter_min': 3.70...,False,[],"{'orbit_id': '813', 'orbit_determination_date'...",False
10,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001862,2001862,1862 Apollo (1932 HA),Apollo,1862,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,16.08,{'kilometers': {'estimated_diameter_min': 1.61...,True,[],"{'orbit_id': '534', 'orbit_determination_date'...",False
11,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001863,2001863,1863 Antinous (1948 EA),Antinous,1863,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,15.45,{'kilometers': {'estimated_diameter_min': 2.16...,False,[],"{'orbit_id': '238', 'orbit_determination_date'...",False
12,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001864,2001864,1864 Daedalus (1971 FA),Daedalus,1864,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,14.86,{'kilometers': {'estimated_diameter_min': 2.83...,False,[],"{'orbit_id': '734', 'orbit_determination_date'...",False
13,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001865,2001865,1865 Cerberus (1971 UA),Cerberus,1865,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,16.79,{'kilometers': {'estimated_diameter_min': 1.16...,False,[],"{'orbit_id': '360', 'orbit_determination_date'...",False
14,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001866,2001866,1866 Sisyphus (1972 XA),Sisyphus,1866,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,12.50,{'kilometers': {'estimated_diameter_min': 8.40...,False,[],"{'orbit_id': '1031', 'orbit_determination_date...",False
15,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001915,2001915,1915 Quetzalcoatl (1953 EA),Quetzalcoatl,1915,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,18.38,{'kilometers': {'estimated_diameter_min': 0.56...,False,[],"{'orbit_id': '13', 'orbit_determination_date':...",False
16,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001916,2001916,1916 Boreas (1953 RA),Boreas,1916,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,14.95,{'kilometers': {'estimated_diameter_min': 2.71...,False,[],"{'orbit_id': '342', 'orbit_determination_date'...",False
17,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001917,2001917,1917 Cuyo (1968 AA),Cuyo,1917,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,14.41,{'kilometers': {'estimated_diameter_min': 3.48...,False,[],"{'orbit_id': '566', 'orbit_determination_date'...",False
18,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001943,2001943,1943 Anteros (1973 EC),Anteros,1943,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,15.70,{'kilometers': {'estimated_diameter_min': 1.92...,False,[],"{'orbit_id': '775', 'orbit_determination_date'...",False
19,{'self': 'http://api.nasa.gov/neo/rest/v1/neo/...,2001980,2001980,1980 Tezcatlipoca (1950 LA),Tezcatlipoca,1980,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,13.84,{'kilometers': {'estimated_diameter_min': 4.53...,False,[],"{'orbit_id': '807', 'orbit_determination_date'...",False

In [22]:
df = df[['id','name', 'estimated_diameter', 'absolute_magnitude_h', 'designation']]
df = df.rename(columns={
    'id': 'Asteroid ID',
    'name': 'Asteroid name',
    'estimated_diameter': 'The Minimal estimated diameter in Kilometre',
    'absolute_magnitude_h': 'Absolute_magnitude',
    'designation': 'Relative_velocity(km/s)'
})
df.head()

,Asteroid ID,Asteroid name,The Minimal estimated diameter in Kilometre,Absolute_magnitude,Relative_velocity(km/s)
0,2000433,433 Eros (A898 PA),{'kilometers': {'estimated_diameter_min': 22.0...,10.41,433
1,2000719,719 Albert (A911 TB),{'kilometers': {'estimated_diameter_min': 2.02...,15.59,719
2,2000887,887 Alinda (A918 AA),{'kilometers': {'estimated_diameter_min': 4.53...,13.84,887
3,2001036,1036 Ganymed (A924 UB),{'kilometers': {'estimated_diameter_min': 38.4...,9.20,1036
4,2001221,1221 Amor (1932 EA1),{'kilometers': {'estimated_diameter_min': 0.88...,17.38,1221

In [25]:
df.to_csv('datasets/asterodids_neows.csv', index=False)